aside.app-sidebar {
    position: fixed;
    height: 100%;
    padding: 32px 24px;
    background: linear-gradient(329.54deg, #871ab9 5%, #a53aec 95%);
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  aside.app-sidebar img {
    width: 48px;
  }
  
  aside.app-sidebar footer a,
  aside.app-sidebar footer button {
    width: 48px;
    height: 48px;
  
    border: 0;
  
    background: #a53aec;
    border-radius: 16px;
  
    cursor: pointer;
  
    transition: background-color 0.2s;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  aside.app-sidebar footer a:hover,
  aside.app-sidebar footer button:hover {
    background: #b050f0;
  }